body {
    display: flex;
    justify-content: center;

    background-color: black;
}

#container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    background-color: white;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
    border: solid 1px red;
}