body {
    display: flex;
    justify-content: center;

    background-color: black;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 480px;
    width: 480px;
    background-color: white;
}

.box {
    background-color: grey;
    height: 30px;
    width: 30px;
}
